.capitalized {
	text-transform: capitalize;
    font-weight: bold;
}
.input_style{
	width: 30%;
	margin: 5px 0;
}
.switch_style{
	margin: 15px 0;
}
.body_style{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	
}
.form_style{
	width: auto;
	height: auto;
	background: #fff;

}